<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/Home.css">
    <title>Welcome</title>
    <style>      
    
    </style>
  </head>
  <body>  
    <div className="Home-body">

    <div class="Home-header">
      <img class="Home-icono" > </img>
      <img class="uao-logo"></img>
      <div class="Home-titleFont">PORTAL DE MERCADEO</div>                     
      <a href="logout" class="Home_logout">X Cerrar Sesión</a>


    </div>
    
         <div class="Home-dashboard">

          <div class="Home-dashboardFont">
            Dashboard
          </div>
          <div class="Home-user">
              <div class="Home-userImage">
           
              </div>
             
              <a href="././users" class="Home-userFont">Usuarios</a>
              
           </div>
           <div class="Home-colegio">
              <div class="Home-colegioImage">
           
              </div>
              <div class="Home-colegioFont">

                <a href="././index_colegio" class="Home-userFont">Colegios</a>
                
              </div>
           </div>

           <div class="Home-programa">
              <div class="Home-programaImage">
           
              </div>
              <div class="Home-programaFont">
                <a href="././index_pa" class="Home-userFont">Programas Academicos</a>
              </div>
           </div>

           <div class="Home-preguntas">
              <div class="Home-PreguntasImage">
           
              </div>
              <div class="Home-preguntasFont">
                Preguntas
              </div>
           </div>

           <div class="Home-test">
              <div class="Home-testImage">
           
              </div>
              <div class="Home-testFont">
                <a href="././test" class="Home-userFont">Tests</a>
              </div>
           </div>

           <div class="Home-prospectos">
              <div class="Home-prospectosImage">
           
              </div>
              <div class="Home-prospectosFont">
                Prospectos
              </div>
           </div>
           

          </div>
     
    </div>     
  </body>
</html>