<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Programa Academico</title>
</head>
<body>
    <div>
        <form action="/save_pa" method="POST">
            <div>
                <label for="nombre" >Nombre</label>
                <input type="text" id="nombre" name="nombre" tabindex="1">
            </div>
            <div>
                <label for="nombre">Ciclo</label>
                <input type="text" id="ciclo" name="ciclo" tabindex="1">
            </div>
            <div>
                <label for="nombre">Inteligencia Verbal</label>
                <select id="verbal" name="verbal" aria-label="Default select example" tabindex="2">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Matematica</label>
                <select id="matematico" name="matematico" aria-label="Default select example" tabindex="2">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Visual Espacial</label>
                <select id="visualEspacial" name="visualEspacial" aria-label="Default select example" tabindex="2">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Kinesica</label>
                <select id="kinesico" name="kinesico" aria-label="Default select example" tabindex="2">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Musical</label>
                <select id="musical" name="musical" aria-label="Default select example" tabindex="2">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Intrapersonal</label>
                <select id="intrapersonal" name="intrapersonal" aria-label="Default select example" tabindex="2">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Interpersonal</label>
                <select id="interpersonal" name="interpersonal" aria-label="Default select example" tabindex="2">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Naturalista</label>
                <select id="naturalista" name="naturalista" aria-label="Default select example" tabindex="2">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <button type="submit" tabindex="5">Guardar</button>
            <a href="/index_pa">Cancelar</a>
        </form>
    </div>
    
</body>
</html>