<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/Crear_usuarios.css">
    <title>Programas</title>
</head>
<body>
    <div class="register-form">
		<h1 class="Registrar_font">Agregar un Programa</h1>
        <form action="/save_pa" method="POST"class="Registrar_font">
            <div>
                <label for="nombre" >Nombre</label>
                <input type="text" id="nombre" name="nombre" required tabindex="1" autofocus>
            </div>
            <div>
                <label for="nombre">Ciclo</label>
                <input type="text" id="ciclo" name="ciclo" required tabindex="2" autofocus>
            </div>
            <div>
                <label for="nombre">Inteligencia Verbal</label>
                <select id="verbal" name="verbal" class="select-css" tabindex="3">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Matematica</label>
                <select id="matematico" name="matematico" class="select-css" tabindex="4">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Visual Espacial</label>
                <select id="visualEspacial" name="visualEspacial" class="select-css" tabindex="5">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Kinesica</label>
                <select id="kinesico" name="kinesico" class="select-css" tabindex="6">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Musical</label>
                <select id="musical" name="musical" class="select-css" tabindex="7">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Intrapersonal</label>
                <select id="intrapersonal" name="intrapersonal" class="select-css" tabindex="8">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Interpersonal</label>
                <select id="interpersonal" name="interpersonal" class="select-css" tabindex="9">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>
            <div>
                <label for="nombre">Inteligencia Naturalista</label>
                <select id="naturalista" name="naturalista" class="select-css" tabindex="10">
                    <option value="SI" selected>Si</option>
                    <option value="NO">No</option>                    
                </select>
            </div>

            <div style="display: inline;">             
                <a href="/index_pa" class="btn-cancel">Cancel</a><input type="submit" class="btn-save" value="Guardar">           
                </div>

        </form>
    </div>
    
</body>
</html>